DJANGO_READ_DOT_ENV=True
DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://cortexm:cortexm@db:5432/cortexm
REDIS_URL=redis://redis:6379/0

STORAGE_BACKEND=local
MEDIA_URL=/media/

# S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_ENDPOINT_URL=

# Azure Blob
AZURE_ACCOUNT_NAME=
AZURE_ACCOUNT_KEY=
AZURE_CONTAINER=
